In [2]:
USE Flights_Reporting;
GO



IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = 'dim' ) 
BEGIN
	EXEC sp_executesql N'CREATE SCHEMA dim AUTHORIZATION dbo;'
END;
GO

IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = 'stg' ) 
BEGIN
	EXEC sp_executesql N'CREATE SCHEMA stg AUTHORIZATION dbo;'
END;
GO

IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = 'f' ) 
BEGIN
	EXEC sp_executesql N'CREATE SCHEMA f AUTHORIZATION dbo;'
END;
GO

------------------------------------------------------------------------------------
------------------------------------------------------------------------------------

IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = 'stg' AND TABLE_NAME = 'FLIGHT_TABLE')
BEGIN
	CREATE TABLE stg.FLIGHT_TABLE(
		FlightID INT Identity(1,1) NOT NUll
		, FlightDate DATE NOT NULL
		, fkAIRLINE varchar(5) NOT NULL
		, fkORIGIN_AIRPORT nvarchar(50) NOT NULL 
		, DESTINATION_AIRPORT varchar(5) NOT NULL 
		, Scheduled_Departure int NOT NULL  
		, Departure int NOT NULL  
		, Departure_Delay_min int NOT NULL
		, Scheduled_Arrival int NOT NULL 
		, Arrival_time_local int NOT NULL
		, ARRIVAL_DELAY_min int NOT NULL
		, Flight_Length_min int
		, Total_Time int NOT NULL
		, DIVERTED int NULL
		, CANCELLED	int NULL
		, CANCELLATION_Reason varchar(25) NULL
);
	ALTER TABLE stg.FLIGHT_TABLE
	ADD CONSTRAINT pk_FlightID PRIMARY KEY(FlightID);
END



IF (SELECT COUNT(*) FROM stg.FLIGHT_TABLE) = 0
	BEGIN
INSERT INTO stg.FLIGHT_TABLE(FlightDate, fkAIRLINE, FKORIGIN_AIRPORT, DESTINATION_AIRPORT, Scheduled_Departure, Departure, Departure_Delay_min, Scheduled_Arrival, Arrival_time_local, ARRIVAL_DELAY_min, Flight_Length_min, Total_Time, DIVERTED, CANCELLED, CANCELLATION_Reason)
SELECT CAST(CONCAT(YEAR, '-',MONTH, '-', DAY)as DATE) 'FlightDate'
		, AIRLINE
		, ORIGIN_AIRPORT
		, DESTINATION_AIRPORT
		, SCHEDULED_DEPARTURE
		, DEPARTURE_TIME
		, DEPARTURE_DELAY
		, SCHEDULED_ARRIVAL
		, ARRIVAL_TIME
		, ARRIVAL_DELAY
		, AIR_TIME
		, ELAPSED_TIME
		, DIVERTED
		, CANCELLED
		, CANCELLATION_REASON
FROM  Flights_Reporting.dbo.flights
END

(No column name)
5819079